.not-found-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #161625;
}
.not-found-img {
  height: 100%;
  width: 80%;
}
.not-found-heading {
  color: #cbd5e1;
  font-size: 32px;
  font-family: 'roboto';
}
.not-found-description {
  font-size: 20px;
  color: #94a3b8;
  font-family: 'roboto';
  width: 80%;
}
.home-btn {
  background-color: #2563eb;
  width: 88px;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'roboto';
}
