.state-loader-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #161625;
  height: 100vh;
}
.state-details-container {
  background-color: #161625;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 51px;
  padding-top: 24px;
  width: 100vw;
}
@media (min-width: 768px) {
  .state-details-container {
    background-color: #161625;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 80px;
    padding-top: 40px;
    width: 100vw;
  }
}
@media (min-width: 992px) {
  .state-details-container {
    background-color: #161625;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 105px;
    padding-top: 60px;
    width: 100vw;
  }
}
.state-name-tested-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.state-name-container {
  background-color: #0284c729;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  min-height: 32px;
}
.state-name {
  color: #0ea5e9;
  font-size: 24px;
  font-weight: 600;
  font-family: 'HK Grotesk';
}

@media (min-width: 768px) {
  .state-name-container {
    background-color: #0284c729;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    min-height: 64px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 350px;
  }
  .state-name {
    color: #0ea5e9;
    font-size: 32px;
    font-weight: 600;
    font-family: 'HK Grotesk';
  }
}
.last-updated-time {
  font-size: 12px;
  color: #cbd5e1;
  font-family: 'roboto';
  align: left;
}
@media (min-width: 768px) {
  .last-updated-time {
    font-size: 18px;
  }
}
.tested-heading {
  color: #94a3b8;
  font-size: 16px;
  font-family: 'roboto';
}
.tested-num {
  color: #94a3b8;
  font-size: 16px;
  font-family: 'roboto';
}
@media (min-width: 768px) {
  .tested-heading {
    font-size: 16px;
  }
  .tested-num {
    font-size: 24px;
  }
}
.top-district-title {
  color: #ff073a;
  font-size: 24px;
  font-family: 'roboto';
  margin-bottom: 32px;
}
.top-districts-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  padding-left: 0px;
}
@media (min-width: 768px) {
  .top-district-title {
    font-size: 32px;
  }
  .top-districts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 45px;
  }
}

.each-top-district {
  list-style: none;
  align: left;
  margin-right: 25px;
  width: 130px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .each-top-district {
    margin-right: 75px;
  }
}
@media (min-width: 992px) {
  .each-top-district {
    margin-right: 100px;
    width: 160px;
  }
}
.top-number {
  color: #94a3b8;
  font-size: 16px;
  font-family: 'roboto';
  margin-right: 20px;
  align: left;
  min-width: 60px;
}
.top-district {
  color: #94a3b8;
  font-size: 12px;
  font-family: 'roboto';
}
@media (min-width: 768px) {
  .top-number {
    font-size: 20px;
    min-width: 70px;
  }
  .top-district {
    font-size: 16px;
    font-family: 'roboto';
  }
}
@media (min-width: 992px) {
  .top-number {
    font-size: 24px;
    width: 60px;
  }
  .top-district {
    font-size: 16px;
    font-family: 'roboto';
    margin-right: 124px;
  }
}
