.home-bg-container {
  background-color: #161625;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .home-bg-container {
    width: 100%;
  }
}
.confirmed-table {
  color: #ff073a;
  text-align: right;
  width: 84px;
}
.deceased-table {
  color: #6c757d;
  text-align: right;
  width: 84px;
}
.recovered-table {
  color: #28a745;
  text-align: right;
  width: 84px;
}
.active-table {
  color: #007bff;
  text-align: right;
  width: 84px;
}
.population-table {
  color: #94a3b8;
  text-align: right;
  width: 84px;
}
.state-table {
  color: #f1f5f9;
  width: 150px;
}

.table-container {
  width: 90vw;
  margin-left: 25px;
  overflow-x: auto;
}
@media (min-width: 768px) {
  .table-container {
    width: 90vw;
    margin-left: 60px;
    overflow-x: auto;
  }
}
@media (min-width: 992px) {
  .table-container {
    width: 95vw;
    overflow-x: auto;
  }
}
.state-wise-data-container {
  background-color: #1e1e30;
  border: 16px solid #475569;
  border-width: 1px;
  shadow: 0 0 0 0 16;
  padding-left: 32px;
  padding-right: 35px;
}
@media (min-width: 768px) {
  .state-wise-data-container {
    align: center;
    width: 90vw;
    overflow-x: visible;
  }
}
@media (min-width: 992px) {
  .state-wise-data-container {
    width: 90vw;
    align: center;
    overflow-x: visible;
  }
}
.line {
  color: #475569;
  width: 839px;
}
@media (min-width: 768px) {
  .line {
    width: 1146px;
  }
}

.headings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.heading-text {
  font-size: 16px;
  font-family: 'Roboto';
  color: #f8fafc;
  margin-top: 24px;
  margin-bottom: 24px;
}
.state-detail-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.state-numbers-align {
  text-align: right;
}
.list-text {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}
